<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="lithnetResourceManagementClient" type="Lithnet.ResourceManagement.Client.ClientConfigurationSection, Lithnet.ResourceManagement.Client"/>
  </configSections>
  <lithnetResourceManagementClient resourceManagementServiceBaseAddress="http://localhost:5725"/>
</configuration>