<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="1.29.2" targetFramework="net40" developmentDependency="true" />
  <package id="Lithnet.ResourceManagement.Client" version="1.0.5990.37130" targetFramework="net40" />
</packages>