<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.2" targetFramework="net40" developmentDependency="true" />
  <package id="Lithnet.ResourceManagement.Client" version="1.0.5922.36551" targetFramework="net40" />
  <package id="ModuleInit.Fody" version="1.5.9.0" targetFramework="net40" developmentDependency="true" />
</packages>