<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dir128677A741165F2F6D19FF607E03DC4F" Name="Release">
                <Component Id="cmp44F5A769315DA83FB1A070B9C66E5383" Guid="*">
                    <File Id="fil18060C2BC43E32ACC516A2269CB7C01D" KeyPath="yes" Source="$(var.Lithnet.ResourceManagement.Automation.TargetDir)\Lithnet.ResourceManagement.Automation.dll" />
                </Component>
                <Component Id="cmp6AA247236914B9C4022538C9D0F5369A" Guid="*">
                    <File Id="filBBFB1E0C17F39A80703C33A9BC936465" KeyPath="yes" Source="$(var.Lithnet.ResourceManagement.Automation.TargetDir)\Lithnet.ResourceManagement.Automation.dll.config" />
                </Component>
                <Component Id="cmpC4BB01CFEF99C223EEBE120FE817D8A9" Guid="*">
                    <File Id="filCA0086F3F6056F8B17C7F2CDEBDF0FB6" KeyPath="yes" Source="$(var.Lithnet.ResourceManagement.Automation.TargetDir)\Lithnet.ResourceManagement.Automation.pdb" />
                </Component>
                <Component Id="cmpECC2A696E8444DA68FF8FB38375E3EA5" Guid="*">
                    <File Id="fil1B2182B7A4BD7274027AFB2851880279" KeyPath="yes" Source="$(var.Lithnet.ResourceManagement.Automation.TargetDir)\Lithnet.ResourceManagement.Client.dll" />
                </Component>
                <Component Id="cmp5F3F12C04EAC7E5E4716F74A3A287F48" Guid="*">
                    <File Id="fil7DA818C129883377AEC67D898DF31E26" KeyPath="yes" Source="$(var.Lithnet.ResourceManagement.Automation.TargetDir)\LithnetRMA.psd1" />
                </Component>
                <Component Id="cmp8B4F0E4A23EF38DE4BEC6D1066B6E56B" Guid="*">
                    <File Id="fil9A79DA7BF772076D1BADB698E6500F3F" KeyPath="yes" Source="$(var.Lithnet.ResourceManagement.Automation.TargetDir)\System.Management.Automation.dll" />
                </Component>
                <Directory Id="dirA2988F617AB31463CC17E3965C8AD8FD" Name="en-us">
                    <Component Id="cmp9DBF9DBD8D46C014AFB8CFAAC066FF7B" Guid="*">
                        <File Id="fil33D64FB92678F09E857D43EEB637FC2A" KeyPath="yes" Source="$(var.Lithnet.ResourceManagement.Automation.TargetDir)\en-us\Lithnet.ResourceManagement.Automation.dll-help.xml" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Lithnet.ResourceManagement.Automation.Binaries">
            <ComponentRef Id="cmp44F5A769315DA83FB1A070B9C66E5383" />
            <ComponentRef Id="cmp6AA247236914B9C4022538C9D0F5369A" />
            <ComponentRef Id="cmpC4BB01CFEF99C223EEBE120FE817D8A9" />
            <ComponentRef Id="cmpECC2A696E8444DA68FF8FB38375E3EA5" />
            <ComponentRef Id="cmp5F3F12C04EAC7E5E4716F74A3A287F48" />
            <ComponentRef Id="cmp8B4F0E4A23EF38DE4BEC6D1066B6E56B" />
            <ComponentRef Id="cmp9DBF9DBD8D46C014AFB8CFAAC066FF7B" />
        </ComponentGroup>
    </Fragment>
</Wix>