<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*"
           Name="Lithnet FIM/MIM Service PowerShell Module"
           Language="1033"
           Version="1.0.5954"
           Manufacturer="Lithnet"
           UpgradeCode="CC6C89F6-8663-46ED-A792-15B1327D8AA8">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />
    <MajorUpgrade Schedule="afterInstallInitialize"
                DowngradeErrorMessage="A later version of [ProductName] is already installed" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED]]>
    </Condition>

    <Feature Id="ProductFeature" Title="PowerShell Module" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductHelp" />
    </Feature>

    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

    </UI>
    <UIRef Id="WixUI_Common" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="System64Folder">
        <Directory Id="PSROOT" Name="WindowsPowerShell">
          <Directory Id="PSV1ROOT" Name ="v1.0">
            <Directory Id ="PSMODULESROOT" Name="Modules">
              <Directory Id="APPLICATIONFOLDER" Name="LithnetRMA">
                <Directory Id="ENUSHELPFOLDER" Name="en-us"/>
              </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <ComponentGroupRef Id="Lithnet.ResourceManagement.Automation.Binaries"/>
      <Component Guid="*">
        <File Source="$(var.Lithnet.ResourceManagement.Resolver.TargetPath)" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductHelp" Directory="ENUSHELPFOLDER">
      <ComponentGroupRef Id="Lithnet.ResourceManagement.Automation.Help"/>
    </ComponentGroup>
  </Fragment>
</Wix>